<form action="/AddPost/@ViewBag.User.UserId" method="post">
    <label class="form-titles">Title: </label><input type="text" name="Title" class="form-control" placeholder="Epic title goes here">
    <label class="form-titles">Content: </label><textarea name="Content" class="form-control" rows="5" placeholder="Share your awesome-ness with the world..."></textarea>
    <input class="btn btn-info login-btn btn-block" type="submit" value="Create Post">
</form>  