<div class="navbar navbar-default" style="margin-top:25px">
    <div class="navbar-header">
    <a class="navbar-brand">Hello, @ViewBag.User.FirstName</a>
    </div>            
    <ul class="nav navbar-nav">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/blog/@ViewBag.User.UserId">Blog</a></li>
        <li><a href="/profile/edit/@ViewBag.User.UserId">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>   