<div class="navbar navbar-default" style="margin-top:25px">
    <div class="navbar-header">
    <a class="navbar-brand">Sparkle</a>
    </div>            
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="login">Sign In</a></li>
    </ul>
</div>