<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    @Html.Partial("Navbar-Index")
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" id="bg"><h2>Box of Awesome-ness</h2></div>
            </div>
            <div class="row">
                <div class="col-sm-4"><label class="row-title">Manage Users</label></div>
                <div class="col-sm-4"><label class="row-title">Leave Messages</label></div>
                <div class="col-sm-4"><label class="row-title">Edit User Information</label></div>
            </div>
        </div>

       
    </div>
  </body>
</html>