/*INEDX*/

/*#bg {
    background:url("~/image/lavender.jpg") no-repeat center center;
    background-size: center;
    height: 300px;
}*/

#bg {
  background: transparent url("~/image/lavender.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  height: 300px;
}

.login-container {
    width:300px;
    display: block;
    margin: 0 auto;
}

.logreg-title {
    text-align: center;
    margin-bottom: 20px;
}

.register-container {
    width:300px;
    display: block;
    margin: 0 auto;
}


.title {
    text-align: center;
}

/*BLOG*/

.blog-container {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.post-whole {
    margin: 35px 10px 35px 10px;
}

.comment-whole {
    width: 400px;
    margin-left: 30px;
}

/*.comment-text {
    text-indent: 100px;
}*/

.comment-hr {
    width: 50%;
}

/*EDIT PAGE*/

.EditContainer {
    display: block;
    margin: 0 auto;
}


.EditInfo {
    display: inline-block;cd 
    width: 200px;
}

.ChangePassword {
    width: 200px;
    display: inline-block;

}

.EditDescription {
    display: inline-block;

}

.form-titles {
    margin-top: 15px;
}